.photo-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(12, auto);
  gap: 12px;
  margin: 0 16px 64px;
  justify-content: center;
  justify-items: center;
}



@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    gap: 16px;
    margin: 0 24px 88px;
  }
}



@media screen and (min-width: 984px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    gap: 14px;
    margin: 0 48px 92px;
  }
}

@media screen and (min-width: 1225px) {
  .photo-grid {
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 16px;

  }
}
