.places {
  display: grid;
  gap: 25px;
  justify-content:center;
}

@media screen and (min-width: 568px) {
  .places {
    gap: 48px;
  }

}

@media screen and (min-width: 984px) {
  .places {
    gap: 55px;
  }

}
