.place__paragraph {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 16px 0;
}

@media screen and (min-width: 568px) {
  .place__paragraph {
    margin: 0 0 0 28px;
  }
}

@media screen and (min-width: 984px) {
  .place__paragraph {
    margin: 0 0 0 32px;
    font-size: 18px;
    line-height: 29px;
  }
}

@media screen and (min-width: 1124px) {
  .place__paragraph {
    margin: 0 0 0 40px;
  }
}
