.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin: 41px 0 64px;

  justify-items: center;
}

.cover::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 65px 0 88px;

  }
}

@media screen and (min-width: 984px) {
  .cover {
    min-height: 640px;
    margin: 60px 0 92px;

  }
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
    margin: 60px 48px 92px;
    max-width: 1184px;

  }
}
