.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 24px 16px;

}

@media screen and (min-width: 568px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24px 24px;
  }
}

@media screen and (min-width: 984px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px 24px;
  }
}
